/* Import */

@import url("//fonts.googleapis.com/css?family=Ubuntu:400,700");

/* Global */

body {
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 100;
}

a {
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none !important;
}

section {
    transition: ease-in-out all 0.4s;
    background-color: #fff;
}

section:hover {
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

[img] {
    max-width: 300px;
}

[light] {
    font-weight: lighter;
}

[lh] {
    line-height: 1.3em;
}

[bolder] {
    font-weight: 600;
}

.bg-landing {
    background-image: url("/app//assest/images/Crusher-Bucket/16.jpg");
}

.cover {
    padding: 150px 0 0 0;
    color: #fff;
    background-position: center 30%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.7);
}

.brand {
    font-size: 60px;
}

.main {
    background-color: #edeef0;
}

.aplications {
    font-size: 16px;
}

.aplications-margin {
    margin-top: 45px;
}

.collapse-m-1 {
    margin-top: 35px;
}

.collapse-m-4 {
    margin-top: 55px;
}

.primary {
    color: #ff8100;
}

.card-header {
    border-radius: 0;
    border-bottom: none;
}

.card-header:hover {
    cursor: pointer;
}

/* Collapse arrow */

.collapse-arrow {
    font-size: 25px;
    margin-bottom: 0;
    -webkit-animation: minus 0.5s;
}
    
@keyframes minus {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Section 1 */
    
[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {
    display: none;
}

/* Table */

tbody tr:hover {
    background-color: #f0f0f1;
}

.table th {
    border-top: 0px;
    border: 1px solid #fbfcfc;
    font-size: 10px;
}

.table th:first-child {
    border-left: none;
}

.table th:last-child {
    border-right: none;
}

.table thead th {
    border-top: 0px;
    border-bottom: 0px;
    font-size: 15px;
}

.table thead th:first-child {
    font-size: 15px;
}

.card-body {
    margin-top: 10px;
    padding: 0px;
}
.small-th {
    font-size: 8px !important;
}
